DATABASE_URL=postgresql+asyncpg://username:password@localhost:5432/SafeLedger
SECRET_KEY=super-secret-key123
DEBUG=true
ENV=development
DB_ECHO=true

# Docker specific (used for interpolation in docker-compose.yml)
POSTGRES_USER=safeledger
POSTGRES_PASSWORD=safeledger
POSTGRES_DB=safeledger_test
